::selection {
  background: linear-gradient(45deg, var(--light-blue), var(--light-green));
  color: #000000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::placeholder,
::-moz-placeholder {
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
button,
input {
  outline: 0px;
  border: 0px;
  background: transparent;
  box-shadow: none;
  padding: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
